html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.imgCard {
  -webkit-transition:  all .01s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .01s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .01s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .01s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .01s cubic-bezier(.190, 1.000, .220, 1.000);
  
}