@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Apenas uma estrutura de Crud com relação entre Alunos e Assinantes, como teste de processo seletivo do Balta</p>
</div>
